#### Bibliotecas

In [1]:
# Manipulação de dados
import pandas as pd

#### Importando a base de dados

In [2]:
dados = pd.read_csv('aluguel.csv', sep=';')

In [3]:
# Mostrando a parte inicial dos dados
dados.head()

                      Tipo           Bairro  ...  Condominio    IPTU
0                Quitinete       Copacabana  ...       500.0    60.0
1                     Casa  Jardim Botânico  ...         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca  ...      4020.0  1111.0
3              Apartamento           Centro  ...       390.0    20.0
4              Apartamento     Higienópolis  ...       230.0     NaN

[5 rows x 9 columns]

#### Analisando informações gerais sobre a base de dados

In [4]:
# Quantidades de dados não-nulos e tipos de variáveis em cada coluna
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [5]:
# Tamanho da base de dados
dados.shape

(32960, 9)

In [6]:
print('A base de dados apresenta {} imóveis registrados e {} variáveis'.format(dados.shape[0], dados.shape[1]))

A base de dados apresenta 32960 imóveis registrados e 9 variáveis

#### Analisando os tipos de imóveis presentes na base de dados

In [7]:
# Visualizandoo os tipos de imóveis e a quantidade de cada um deles na base de dados
dados['Tipo'].value_counts()

Apartamento                    19532
Conjunto Comercial/Sala         6815
Loja/Salão                      1426
Casa de Condomínio               996
Casa                             967
Quitinete                        836
Galpão/Depósito/Armazém          623
Flat                             476
Prédio Inteiro                   301
Casa Comercial                   265
Casa de Vila                     249
Loja Shopping/ Ct Comercial      247
Box/Garagem                       82
Terreno Padrão                    70
Loft                              51
Sítio                             10
Loteamento/Condomínio              5
Studio                             4
Hotel                              2
Indústria                          1
Chácara                            1
Pousada/Chalé                      1
Name: Tipo, dtype: int64

In [8]:
# Organizando a visualização dos tipos de imóveis
tipo_de_imovel = pd.DataFrame(dados['Tipo'].value_counts())

In [9]:
# Ajustando o index
tipo_de_imovel.reset_index(inplace=True)

In [10]:
tipo_de_imovel.head()

                     index   Tipo
0              Apartamento  19532
1  Conjunto Comercial/Sala   6815
2               Loja/Salão   1426
3       Casa de Condomínio    996
4                     Casa    967

In [11]:
# Renomeando as colunas
tipo_de_imovel.rename(columns={'index': 'Tipo', 'Tipo': 'Quantidade'}, inplace=True)

In [12]:
# Visualização do DataFrame ajustado
tipo_de_imovel

                           Tipo  Quantidade
0                   Apartamento       19532
1       Conjunto Comercial/Sala        6815
2                    Loja/Salão        1426
3            Casa de Condomínio         996
4                          Casa         967
5                     Quitinete         836
6       Galpão/Depósito/Armazém         623
7                          Flat         476
8                Prédio Inteiro         301
9                Casa Comercial         265
10                 Casa de Vila         249
11  Loja Shopping/ Ct Comercial         247
12                  Box/Garagem          82
13               Terreno Padrão          70
14                         Loft          51
15                        Sítio          10
16        Loteamento/Condomínio           5
17                       Studio           4
18                        Hotel           2
19                    Indústria           1
20                      Chácara           1
21                Pousada/Chalé           1

#### Analisando somente os imóveis residenciais

In [13]:
# Listando todos os tipos de imóveis da base de dados
tipo_de_imovel['Tipo'].values

array(['Apartamento', 'Conjunto Comercial/Sala', 'Loja/Salão',
       'Casa de Condomínio', 'Casa', 'Quitinete',
       'Galpão/Depósito/Armazém', 'Flat', 'Prédio Inteiro',
       'Casa Comercial', 'Casa de Vila', 'Loja Shopping/ Ct Comercial',
       'Box/Garagem', 'Terreno Padrão', 'Loft', 'Sítio',
       'Loteamento/Condomínio', 'Studio', 'Hotel', 'Indústria', 'Chácara',
       'Pousada/Chalé'], dtype=object)

Os imóveis considerados residenciais dentre os presentes na base de dados são: Apartamento, Casa de Condomínio, Casa, Quitinete e Casa de Vila.

In [14]:
# Salvando os imóveis residenciais em uma variavel
imoveis_residenciais = ['Apartamento', 'Casa de Condomínio', 'Casa', 'Quitinete', 'Casa de Vila']

In [15]:
# Salvando em uma variável quais dados da base são referentes aos imóveis residenciais selecionados
selecao = dados['Tipo'].isin(imoveis_residenciais)

In [16]:
# Filtrando os dados da base de acordo com a seleção feita
dados_residencial = dados[selecao]

In [17]:
# Visualizando os 10 primeiros valores do novo DataFrame
dados_residencial.head(10)

                  Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0            Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                 Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
3          Apartamento           Centro        1  ...    800.0       390.0  20.0
4          Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
5          Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
6          Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
7   Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
8   Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
10         Apartamento           Centro        1  ...   1200.0         NaN   NaN
11         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

In [18]:
# Verificando se a seleção feita está correta
list(dados_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [19]:
# Quantidade de imóveis residenciais da base
dados_residencial.shape[0]

22580

In [20]:
# Ajustando o index do DataFrame que contém somente os imóveis residencias
dados_residencial.reset_index(inplace=True)

In [21]:
dados_residencial.head()

   index         Tipo           Bairro  Quartos  ...  Area   Valor  Condominio  IPTU
0      0    Quitinete       Copacabana        1  ...    40  1700.0       500.0  60.0
1      1         Casa  Jardim Botânico        2  ...   100  7000.0         NaN   NaN
2      3  Apartamento           Centro        1  ...    15   800.0       390.0  20.0
3      4  Apartamento     Higienópolis        1  ...    48   800.0       230.0   NaN
4      5  Apartamento     Vista Alegre        3  ...    70  1200.0         NaN   NaN

[5 rows x 10 columns]

In [22]:
# Excluindo a coluna 'index'
dados_residencial = dados_residencial.drop(columns=['index'])

#### Exportando o novo DataFrame com os dados dos imóveis residenciais

In [23]:
dados_residencial.to_csv('aluguel_residencial.csv', sep=';')

#### Explorando os dados dos imóveis residenciais

In [24]:
# Visualizando os dados
dados_residencial.head(10)

                 Tipo           Bairro  Quartos  ...    Valor  Condominio  IPTU
0           Quitinete       Copacabana        1  ...   1700.0       500.0  60.0
1                Casa  Jardim Botânico        2  ...   7000.0         NaN   NaN
2         Apartamento           Centro        1  ...    800.0       390.0  20.0
3         Apartamento     Higienópolis        1  ...    800.0       230.0   NaN
4         Apartamento     Vista Alegre        3  ...   1200.0         NaN   NaN
5         Apartamento         Cachambi        2  ...   1300.0       301.0  17.0
6  Casa de Condomínio  Barra da Tijuca        5  ...  22000.0         NaN   NaN
7  Casa de Condomínio            Ramos        2  ...   1000.0         NaN   NaN
8         Apartamento           Centro        1  ...   1200.0         NaN   NaN
9         Apartamento           Grajaú        2  ...   1500.0       642.0  74.0

[10 rows x 9 columns]

Quantidade de imóveis classificados com tipo 'Apartamento'

In [25]:
# Criando uma seleção
selecao = dados_residencial['Tipo'] == 'Apartamento'

# Filtrando os dados de acordo com a seleção
quantidade_apartamentos = dados_residencial[selecao].shape[0]

# Printando a quantidade de apartamentos
print('A base de dados contém {} apartamentos'.format(quantidade_apartamentos))

A base de dados contém 19532 apartamentos

Quantidade de imóveis classificados como 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

In [26]:
# Criando uma seleção
selecao = ((dados_residencial['Tipo'] == 'Casa') | (dados_residencial['Tipo'] == 'Casa de Condomínio') | (dados_residencial['Tipo'] == 'Casa de Vila'))

# Filtrando os dados de acordo com a seleção
quantidade_casas = dados_residencial[selecao].shape[0]

# Printando a quantidade de casas
print('A base de dados contém {} casas'.format(quantidade_casas))

A base de dados contém 2212 casas

Quantidade de imóveis com área entre 60 e 100 m²

In [27]:
# Criando uma seleção
selecao = (dados_residencial['Area'] >= 60) & (dados_residencial['Area'] <= 100)

# Filtrando os dados de acordo com a seleção
quantidade_area_60_a_100 = dados_residencial[selecao].shape[0]

# Printando a quantidade de casas
print('A base de dados contém {} imóveis com área entre 60 e 100 m²'.format(quantidade_area_60_a_100))

A base de dados contém 8719 imóveis com área entre 60 e 100 m²

Quantidade de imóveis com pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [28]:
# Criando uma seleção
selecao = (dados_residencial['Quartos'] >= 4) & (dados_residencial['Valor'] < 2000.0)

# Filtrando os dados de acordo com a seleção
quantidade_4_quartos_menor_2000 = dados_residencial[selecao].shape[0]

# Printando a quantidade de casas
print('A base de dados contém {} imóveis com pelo menos 4 quartos e aluguel menor R$ 2.000,00'.format(quantidade_4_quartos_menor_2000))

A base de dados contém 41 imóveis com pelo menos 4 quartos e aluguel menor R$ 2.000,00